@charset "UFT-8";

*{
    margin: 0px;
    padding: 0px;
    font-size: 1.2em;
}

html, body{
    height: 100vh;
    background: black url('../imagens/background.jpg') center top no-repeat fixed;
    background-size: cover;
}

header{
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;

}

header h1{
    font-size: 12vh;
    color: white;
    text-shadow: 3px 3px 3px black;
}

header h2{
    font-size: 4.5vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: yellow;
    text-shadow: 2px 2px 3px black;
}

main{
    max-width: 100vh;
    margin: auto;
}

main section{
    min-width: 100%;
}

ul{
    list-style: none;
}

ul#one_img{
    display: block;
    text-align: center;
    padding-bottom: 50px;
}

ul#two_img{
    display: block;
    text-align: center;
    columns: 2;
}

ul#four_img{
    display: block;
    text-align: center;
    columns: 2;

}

p{
    font-size: 2.8vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: yellow;
    text-align: left;
    text-shadow: 2px 2px 3px black;
    padding: 20px;
    
}

p.back{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.74);
    border-radius: 5px;
}

p.white{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.739);
    border-radius: 5px;
    color: white;
    text-shadow: 2px 2px 3px black;
}

img{
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

img#img_big{
    min-width: 350px;
    min-height: 350px;
}